<!DOCTYPE html>
<html>
<head>
    <title>Revenue Visualization</title>
</head>
<body>
    <h1>Welcome to the Revenue Visualization Dashboard</h1>
    <div id="dash-container"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/_dash-component-suites/dash/dcc/dash_core_components-shared.v2_8_2m157xma.min.js"></script>
    <script src="/_dash-component-suites/dash/dcc/dash_core_components.v2_8_2m157xma.min.js"></script>
    <script src="/_dash-component-suites/dash/html/dash_html_components.v2_0_3m157xma.min.js"></script>
    <script src="/_dash-component-suites/dash/dash-renderer.v2_8_2m157xma.min.js"></script>
    <script src="/_dash-component-suites/dash/dash_renderer.v2_8_2m157xma.min.js"></script>
</body>
</html>
